---
import Layout from "../layouts/Layout.astro";
import Brand from "@/components/Brand.astro";
import Card from "@/components/Card.astro";
import Testimonial from "@/components/Testimonial.astro";
---

<Layout title="Cevichería23">
  <div slot="main" id="main-section">
    <section class="flex flex-col">
      <article class="mx-auto">
        <Brand />
      </article>
      <span class="mx-auto max-w-full lg:max-w-[55%]">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit labore
          quas necessitatibus rem commodi nobis est ab, nostrum quo suscipit
          voluptate maiores harum ea sed.
        </p>
      </span>
    </section>

    <section
      class="flex flex-col items-center bg-gradient-to-b from-red-100 to-white rounded-2xl"
    >
      <h1 class="subtitle max-w-[620px] text-3xl text-center">
        Explora nuestro delicioso menú y descubre sabores únicos
      </h1>
      <article class="cards flex flex-wrap">
        <Card
          title="Entradas"
          imgSrc="/assets/img/entradas.jpg"
          pills={["Ceviches", "Leche de tigre", "Causas"]}
        />
        <Card
          title="Especiales"
          imgSrc="/assets/img/especiales.jpg"
          pills={["Pescados", "Tacu tacu", "Especiales de la casa"]}
        />
        <Card
          title="Segundos"
          imgSrc="/assets/img/segundos.jpg"
          pills={["Arroces", "Chicharrones", "Pescados", "Especiales de casa"]}
        />
        <Card
          title="Bebidas"
          imgSrc="/assets/img/bebidas.jpg"
          pills={["Bebidas frías", "Cervezas", "Refrescos"]}
        />
      </article>
    </section>

    <section class="revealing-section flex flex-col items-center w-full overflow-hidden relative">
      <h1 class="subtitle max-w-[620px] text-3xl text-center">
        Opiniones de nuestros clientes
      </h1>
      <article
        id="testimonials-container"
        class="t-container flex gap-[150px] overflow-hidden justify-start px-8 py-12" 
      >
        <Testimonial
          name="Luis Martínez"
          socialNetwork="Facebook"
          personImageSrc="/assets/img/modelo1.jpg"
        >
          <p slot="testimonial">
            Buenísimo! buen local, buena atención y la comida espectacular!
          </p>
        </Testimonial>
        <Testimonial
          name="Marcos Gutiérrez"
          socialNetwork="Facebook"
          personImageSrc="/assets/img/modelo2.jpg"
        >
          <p slot="testimonial">
            Muy buena atención y la comida de primera totalmente recomendado.
          </p>
        </Testimonial>
        <Testimonial
          name="Patty Sare"
          socialNetwork="Facebook"
          personImageSrc="/assets/img/modelo.jpg"
        >
          <p slot="testimonial">
            Rico, sabroso y muy buena presentación de sus platos iré nuevamente
            muy pronto 👍
          </p>
        </Testimonial>
      </article>
    </section>
  </div>
</Layout>

<style>
  .cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
  }

  section {
    @apply my-8 px-12;
  }
  .t-container{
    position: relative;
    width: 100%;
  }
  .t-container::before, 
  .t-container::after {
    content: "";
    width: 30px;
    height: 100%;
    position: absolute;
  }
  .t-container::before {
    background-image: linear-gradient(to left, rgb(255, 255, 255, 0), white);
    left: 0;
    top: 0;
    z-index: 1;
  }
  .t-container::after {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    right: 0;
    top: 0;
    z-index: 1;
  }
</style>
