---
import Layout from "../layouts/Layout.astro";
import Brand from "@/components/Brand.astro";
import Card from "@/components/Card.astro";
---

<Layout title="Welcome to Astro">
  <main slot="main" class="[&>section>article]:max-w-3xl">
    <section class="flex flex-col">
      <article class="mx-auto">
        <Brand />
      </article>
      <span class="mx-auto max-w-full lg:max-w-[55%]">
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit labore
          quas necessitatibus rem commodi nobis est ab, nostrum quo suscipit
          voluptate maiores harum ea sed, debitis cupiditate officia provident
          ad.
        </p>
      </span>
    </section>

    <section
      class="flex flex-col items-center bg-gradient-to-b from-red-50 to-white"
    >
      <h1 class="subtitle max-w-[620px] text-3xl">Explora nuestro delicioso menú y descubre los sabores únicos de Ceviche 26</h1>
      <article class="cards flex-col sm:flex-row">
        <Card
          title="Entradas"
          imgSrc="/public/assets/img/entradas.jpg"
          pills={["Ceviches", "Leche de tigre", "Causas"]}
        />
        <Card
          title="Especiales"
          imgSrc="/public/assets/img/especiales.jpg"
          pills={["Pescados", "Tacu tacu", "Especiales de la casa"]}
        />
        <Card
          title="Segundos"
          imgSrc="/public/assets/img/segundos.jpg"
          pills={["Arroces", "Chicharrones", "Pescados", "Especiales de casa"]}
        />
        <Card
          title="Bebidas"
          imgSrc="/public/assets/img/bebidas.jpg"
          pills={["Bebidas frías", "Cervezas", "Refrescos"]}
        />
      </article>
    </section>

    <section class="revealing-section flex flex-col items-center">
      <h1 class="subtitle max-w-[620px] text-3xl">Descubre las opiniones de nuestros clientes</h1>
      <article class="flex justify-center">
        <img src="/public/assets/img/nosotros1.jpg" alt="" />
      </article>
    </section>
  </main>
</Layout>

<style>
  .cards {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;
  }

  section {
    @apply my-8 px-12;
  }
</style>
