---
interface Props{
    id: string
    title: string
}

const { id, title } = Astro.props
---

<div class="grid sm:grid-cols-3 w-full" id={id} style="scroll-margin-top: 50px;">
    <slot name="aside-before"/>
    <div class="p-8">
        <h1 class="text-3xl text-finn-950 font-extrabold">{title}</h1>
        <div class="md:text-xl font-semibold text-zinc-700">
            <slot name="description"/>
        </div>
    </div>
    <slot name="aside-after"/>
</div>
