---
import NavLink from "@/components/nav/NavLink.astro";
import NavIcons from "@/components/nav/NavIcons.astro";
---

<nav class="navbar py-2">
  <div class="items-center gap-4 hidden sm:flex justify-between">
    <NavLink  href="/">Inicio</NavLink>
    <NavLink href="/carta">Carta</NavLink>
    <NavLink href="/ubicacion">Ubicación</NavLink>
    <NavLink href="/nosotros">Nosotros</NavLink>
  </div>
  
  <!--  -->
  <div class="flex sm:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </div>

  <NavIcons />

</nav>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>
