---
import NavLink from "@/components/nav/NavLink.astro";
import NavIcons from "@/components/nav/NavIcons.astro";

const currentPath = Astro.url.pathname;

const navLinks = [
  { path: "/", text: "Inicio" },
  { path: "/carta", text: "Carta" },
  { path: "/ubicacion", text: "Ubicación" },
  { path: "/nosotros", text: "Nosotros" },
];
---

<header class="py-2 px-12 sticky top-0 bg-white z-10">
  <nav class="navbar py-2">
    <div class="items-center gap-4 hidden sm:flex justify-between">
      {
        navLinks.map((link) => (
          <NavLink href={link.path} active={currentPath === link.path}>
            {link.text}
          </NavLink>
        ))
      }
    </div>

    <!--  -->
    <div class="flex sm:hidden">
      <button>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          fill="currentColor"
          class="text-finn-950"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          ></path>
        </svg>
      </button>
    </div>

    <div class="sm:hidden fixed left-0 top-0 bottom-0 bg-[rgba(255,255,255,0.98)] w-[50%]">
      <div class="items-center gap-4 flex flex-col justify-between">
        {
          navLinks.map((link) => (
            <NavLink href={link.path} active={currentPath === link.path}>
              {link.text}
            </NavLink>
          ))
        }
      </div>
    </div>

    <NavIcons />
  </nav>
</header>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header {
    animation: minimize linear both;
    animation-timeline: scroll(root);
    animation-range: 0 80px;
  }

  @keyframes minimize {
    to {
      padding-top: 0;
      padding-bottom: 0;
      background-color: #e3e4e4;
      opacity: 0.95;
    }
  }
</style>
