---
import NavBar from "./navigation/NavBar.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  </head>
  <body>
    <!-- <header class="py-2 px-12 sticky top-0 bg-white z-10"> -->
    <NavBar />
    <!-- </header> -->

    <main class="w-full flex flex-col max-w-screen-2xl mx-auto">
      <slot name="main" />
    </main>

    <footer class="bg-finn-900 text-white text-md pl-2 sm:pl-12 pr-[80px]">
      <!-- No oficial web page, made by me Johann Castillo on GitHub -->
      <span class="inline-block gap-2 ">
          <strong>Ceviche26, no oficial website</strong> made by
          <strong>Johann Castillo</strong>
          <a href="https://github.com/JohannCastillo"> 
            <i class="fa-brands fa-github" />
        </a>, 2023
      </span>
    </footer>
    <style is:global>
      :root {
        --finn-950: #450d3a;
        box-sizing: border-box;
      }

      html {
        font-family: system-ui, sans-serif;
        color-scheme: light;
        max-height: 100px;
        min-width: 100%;
      }

      .subtitle {
        font-weight: bold;
        color: var(--finn-950);
      }

      h1.subtitle {
        margin-top: 8px;
        margin-bottom: 12px;
      }

      #main-section {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      #main-section > section {
        max-width: 56rem;
        margin: auto;
        width: 100%;
        padding: 16px;
      }

      #main-section > header {
        max-width: 56rem;
        margin: auto;
        width: 100%;
        padding: 16px;
      }

      .revealing-section {
        animation-name: reveal;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
        animation-timeline: view();
        animation-range: entry 50% cover 30%;
      }

      @keyframes reveal {
        from {
          opacity: 0;
        }

        to {
          opacity: 1;
        }
      }
    </style>

    <style>
      body {
        display: block;
        /* grid-template-rows: repeat(3, auto); */
      }

      footer {
        margin-top: 20px;
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    </style>
  </body>
</html>
