---
interface Props{
    href: string
    active?: boolean
}

const { href, active = false } = Astro.props
---

<a href={href} 
  class:list={[
        "nav-link font-semibold font-mono text-lg text-finn-900 border border-b-1 hover:border-[#DC302A]",
        {
            "border-[#DC302A]": active,
            "border-transparent": !active
        },
    ]}>

    <slot/>
</a>

<style>
    .nav-link{
        border-top: 0;
        border-right: 0;
        border-left: 0; 
    }
</style>